<!--
  Generated template for the HangmanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Pendu</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <form (ngSubmit)="addStep()">
        <ion-item>
            <ion-label>Lettre</ion-label>
            <ion-input type="text" [(ngModel)]="step" name="step" maxlength="1"></ion-input>
        </ion-item>
        <button ion-button type="submit" block>Valider</button>
    </form>

    <div class="hangmanContainer">
        <img src="../../assets/hangman/hung{{err}}.png" style="max-height:185px;"/>
    </div>
    <div class="test">
      Nombres d'erreurs : <span>{{err}}</span><br>
      Nombres d'essais : <span>{{count}}</span><br>
      Lettres tentées : <span *ngFor="let letter of letters">{{letter}}, </span><br>
      Mot : <span *ngFor="let tr of try">{{tr}} </span>
    </div>
</ion-content>
